
<h2>Alter Existing Appointment on <%=@appointment.date.strftime("%A, %B %e, %Y")%> </h2>
<h4>Patient Name: <%=@appointment.patient_name%></h4>

<form method="POST" action="/appointments/<%= @appointment.id %>">

    <input type="hidden" name="_method" value="PUT">
    <p><label>New Date:</label> <input type="date" name="appointments[date]" value="<%=@appointment.date%>"></p>
    <p><label>Time:</label> <input type="time" name="appointments[time]" value="<%=@appointment.time%>"></p>
   
    <input type="submit" value="Update">
</form>