<br>
<h1> Appointment Details</h1>

<p> Patient Name:<%=current_user.first_name.capitalize %></p>
<p> Doctor Name: <%=@appointment.doctor_name%></p>
<p>Date: <%=@appointment.date.strftime("%A, %B %e, %Y")%></p>
<p>Time: <%=@appointment.time.strftime("%I:%M%p")%></p>





<a href="/appointments">Appointment Calendar</a>
<a href="/appointments/new">Create New Appointment</a>
<a href="<%=@appointment.id%>/edit">Edit Appointment Details<a/>
<form method="POST" action="<%=@appointment.id%>">
  <input type="hidden" name="_method" value ="DELETE">
  <h5> <input type="submit" value="Cancel Appointment"> </h5>
</form>

